<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h2>Registrase</h2>
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="mb-3">
            <input type="text" name="nombre" class="form-control" placeholder="Nombre">
          </div>
          <div class="mb-3">
            <input type="text" name="correo" class="form-control" placeholder="ejemplo@ejemplo.com">
          </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Contraseña">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Registrar</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
